
<div class="posts-layout">
    <div class="posts-main-container">
        <img class="user-icon" src="/default-user-icon.png">
            <div class="user-name">user-name</div>
                <img class="item-img" src="/post_images/bag1.png">
                <p class="date-of-purchase">購入日時</p>
                <p class="item-name">商品名</p>
                <p class="price">価格</p>
                <p class="satisfaction">満足度</p>
    </div>
    <div class="posts-main-container">
        <img class="user-icon" src="/default-user-icon.png">
            <div class="user-name">user-name</div>
                <img class="item-img" src="/post_images/bag1.png">
                <p class="date-of-purchase">購入日時</p>
                <p class="item-name">商品名</p>
                <p class="price">価格</p>
                <p class="satisfaction">満足度</p>
    </div>
    <div class="posts-main-container">
        <img class="user-icon" src="/default-user-icon.png">
            <div class="user-name">user-name</div>
                <img class="item-img" src="/post_images/bag1.png">
                <p class="date-of-purchase">購入日時</p>
                <p class="item-name">商品名</p>
                <p class="price">価格</p>
                <p class="satisfaction">満足度</p>
    </div>
</div>