<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
      <div class="form">
        <div class="form-body"> 
            <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
            <% end %>
      
        <%= form_tag("/posts/#{@post.id}/create", {multipart: true}) do %>
          <p>item_name</p>
          <input name="item_name" value="<%= @post.item_name %>">
          <p>image</p>
          <input name="image" type="file">
          <p>price</p>
          <input name="price" class="price" value="<%= @post.price %>">円
          <div class="field" id="star">

          </div>
          <p>Comment</p>
          <textarea class="comment"></textarea>
          <input type="submit" value="保存" >
        <% end %>
        </div>
      </div>
  </div>
</div>


