// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.posts-layout{
    width: 100%;
    position:absolute;
    top: 130px;
    // background-color:rgba(125, 243, 160, 0.753);
}

h1{
    text-align: center;
    position: static;
    z-index: 1;
    padding-top:100px;

}

.posts-main-container{
    width:210px;
    height:250px;
    padding:5px;
    margin:15px 10px;
    float: left;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.img-container{
    // width:200px;
    // height:200px;
    // object-fit: cover;

}
.item-img {
    position: relative;
    width:200px;
    height:200px;
    object-fit: cover;
}

.img-mask {
    visibility: hidden;
    background-color:rgba(0,0,0,0.8);	/* マスクは半透明 */
    position: absolute;
    z-index: 3;
    top: 60px;
    width: 200px;
    height: 200px;
    color:white;
}

.img-mask p{
    font-size:15px;
    padding: 1px;
    margin: 1px;
}

.user-icon {
    object-fit: cover;
    width: 40px;
    float: left;
}
.user-name{
    line-height:40px;
}

