// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-layout{
    width: 100%;
}

h1{
    text-align: center;
}

.container{
    margin-top:50px
}
.posts-main-container{
    width:210px;
    height:250px;
    padding: 5px 5px;
    margin: 10px 10px;
    float: left;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.img-container {
    object-fit: cover;
}
.item-img {
    width:200px;
    height:200px;
    object-fit: cover;
    position:relative;
}

.img-mask {
    color:blueviolet;
    visibility: hidden;
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 200px;
    height: 200px;
}

.caption {
    margin-top:30px;
}

.img-mask p{
    text-align: center;
    vertical-align: baseline;
    color: white;
    font-size: 12px;
    padding-top: 1px;
    margin-top: 1px;
}

.user-icon {
    object-fit: cover;
    width: 40px;
    float: left;
}
.user-name{
    line-height:40px;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: block;
    }
    
.modal-content{
    background-color: white;
    width: 500px;
    margin: 40% auto;
    }



